hr.divider
{
    color: green;
    width: 80%;
}
table
{
    border-width: 1px;
    border-spacing: 2px border-style: outset;
    border-color: gray;
    border-collapse: collapse;
    background-color: white;
}
table th
{
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    font-weight: bold;
    color: White;
    background-color: green;
}
table td
{
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
}
